.header,.top{
background-color: #1F2937;
}

.header,.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}


.logo{
    font-size: 24px;
    color: #f9faf8;
    padding-left: 48px;
    font-weight: bold;

}


ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
    gap: 20px; 
}


a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.body{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: auto;

}

.top{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.left{
   
  
    padding-right: 250px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
   
}

.image{
  display: flex;
  padding: 75px 200px 75px 200px;

  background-color: #e5e7eb; 
}
.bottom .title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    margin: 50px;
}






.content {
    font-size: 18px;
    color: #e5e7eb;
}
.title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900
}
button{
    background-color: #3882f6;
    width: 100px;
}

    



