.header,.top{
background-color: #1F2937;
}

.header,.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    padding-left: 48px;
    font-weight: bold;

}

.header-link{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    
}

ul{
    list-style-type: none;
    padding: 0;
    
}

a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

body{
    display: flex;
    flex-direction: column;
}

.top{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.left{
    padding-left: 100px;
}
.image{
  
}







.content {
    font-size: 18px;
    color: #e5e7eb;
}
.title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;

}



